# Секреты
#.env
#.env.local
#.env.*.local
#*.pem
#*.key

# Конфиги с секретами
config/secrets.yaml
config/*.secret

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp

# Логи
logs/
*.log

# Сборка
dist/
build/
*.egg-info/